/* Fonts */
/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Anton', sans-serif;
*/
p{
  font-size: 1.4rem;
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
  font-size: 2rem;
}

/* NAVBAR */
.navbar{
  background-color: #86B049;
}

.navbar-brand{
  padding:0% 10% 0.5% 6%;
  font-size: 2rem;
}

.nav-item{

  font-size: 1rem;
  margin: 0 10%;
}

.navbar-nav{
  padding-right: 20%;
  padding-top: 0.1%;
}

.navbar-toggler{
  margin-right: 7%;
}


/* Products */
#products{
  margin: 5% 0;
}

.row-products{
  margin: 3% 0;
}

.header-products{
  text-align: center;
  margin: 1% 0 5% 0;
}

.text-products{
  padding: 1.5% 10%;
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
  text-align: justify;
}

.effect-right{
  background-image: -webkit-linear-gradient(50deg, #FFF 50%, rgb(190,224,86) 50%);
}

.effect-left{
  background-image: -webkit-linear-gradient(50deg, rgb(190,224,86) 50%, #fff 50%);
}

.image-products-left{
  margin-bottom: 2%;
  padding-left: 13%;
}

.image-products-right{
  margin-top: 2%;
  padding-right: 7%;
}


/* WHY US? */
#whyUs-carousel{
  background-color: rgb(145, 185, 85);
  text-align: center;
}

.header-carousel{
  padding: 3% 0;
  color: white;
  font-size: 2.7rem;
}

.carousel-image{
  width: 350px;
}

.carousel-text{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
  padding: 2% 35%;;
}


/* Pricing */
#pricing{
  text-align: center;
  margin: 7% 0 6% 0;
}

h2{
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

h3{
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}

.note-price{
  font-size: 0.8rem;

}

.pricing-column{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 2%;
}


/* Reach Us */
#reachUs{
  background-image: -webkit-linear-gradient(35deg, #FFF 50%, rgb(124, 163, 67) 50%);
  margin: 0% 5%;
  padding-bottom: 2%;
  text-align: center;
}

.header-reachUs{
  color: white;
  padding: 2% 0;
  font-size: 2.5rem;
}

.sub-header-reachUs{
  margin-bottom: 7%;
}

.second-contact-text{
  color: white;
}

.map-image{
  width: 70%;
}

.contact-text{
  text-align: justify;
  margin-bottom: 10%;
}

.anchors{
  text-align: left;
  font-size: 1.2rem;
}

.links{
  color: white;
}

@media(max-width:991px){
  .navbar-brand{
    font-size: 3rem;
  }
  .image-products-right{
    padding: 0 5%;
    margin-bottom: 13%;
  }
  .image-products-left{
    padding-left: 10%;
    margin-bottom: 10%;
  }
  .text-products-left{
    margin-bottom: 15%;
  }
  .carousel-text{
    padding: 2% 20%;;
  }
  .carousel-image{
    width: 250px;
  }
  .header-products{
    text-align: center;
    font-size: 2.5rem;
    margin: 10% 0;
  }
  #pricing{
    margin: 15% 0 12% 0;
  }
  /* Why Us */
  .third-pricing-column{
    margin-left: 18.8%;
  }
  .pricing-column{
    margin-bottom: 5%;
  }
  p{
    font-size: 1.2rem;
  }
  h1{
    font-size: 1.5rem;
  }
  #reachUs{
    margin: 0;
  }
  .links{
    margin: 0 5%;
  }
  .map-image{
    width: 50%;
    margin-bottom: 8%;
  }
  .contact-text{
    margin:0 5% 5% 5%;
    text-align: left;
  }
}
@media(max-width:767.5px){
  .third-pricing-column{
    margin-left: 2%;
  }
  .image-products-left{
    margin-top: 10%;
  }
  .second-contact-text{
    color: black;
  }
  .links{
    color: black;
  }
  .contact-text{
    text-align: center;
  }
  .anchors{
    text-align: center;
  }
}
